body {
	padding-top: 70px;
	padding-bottom: 70px;
	background:url('../img/liten_tile.png');
}

.navbar-fixed-top {
	background-color:rgba(34,34,34,0.9);

	#site-topbar {
		position: fixed;
		top: 0px;
		left: 0px;
		background-color: rgb(233, 152, 53);
		width: 100%;
		height: 30px;
		z-index: 9999;
		text-align: center;
		overflow:hidden;

		.topbar-logo {
			background: url('../img/dns_30px.png') no-repeat;
			display: inline-block;
			width: 271px;
			height: 100%;
			margin-top: 4px;
			text-indent: -9999px;
		}
	}
	.container {
		margin-top:30px;
	}
}


.text-badge {
	background:white;
	background-color:rgba(255,255,255,0.8);
	border:5px solid;
	border-radius:6px;
	padding:15px;
	margin-top:15px;
	margin-bottom:15px;
}

#om,
#kart,
#kontakt {
	@extend .col-12;
	@extend .col-md-8;
	@extend .col-md-offset-2;

	padding-top:140px;
}

#branding {
	@extend .row;

	.logo {
		@extend .col-12;
		@extend .col-md-6;
	}

	.site-title {
		display:block;
		height:400px;
		background-image:url('../img/oktoberfest-2013.png');
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
		text-indent:-9999px;
		overflow:hidden;
	}

}
.intro {
	@extend .col-12;
	@extend .col-md-6;

	padding-top:70px;

	.intro-text {
		@extend .text-badge;
	}

	.fb-like {
		text-align:center;
		display:block;
		margin:auto;
		padding:15px;
	}
}

#program {
	@extend .row;

	padding-top:140px;
	overflow:hidden;

	h1 {
		@extend .col-12;
		@extend .col-sm-6;
		@extend .col-md-4;
		@extend .col-lg-12;
	}
	.col {
		@extend .col-12;
		@extend .col-sm-6;
		@extend .col-md-4;
		@extend .col-lg-3;
	}
	.col.alle-dager {
		@extend .col-md-8;
		@extend .col-lg-6;
	}
}
@media (min-width:761px) and (max-width:991px) {
	#program .col:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width:992px) and (max-width:1199px) {
	#program .col:nth-child(3n) {
		clear:left;
	}
}
@media (min-width:1200px) {
	#program {
		.col:nth-child(4n+1) {
			clear:left;
		}
	}
}

#bestill {
	@extend .row;

	padding-top:140px;

	.col {
		@extend .col-12;
		@extend .col-sm-4;
	}
}
